@import "../../../../assets/styles.scss";
@include text-input($app-warn);

.selected-options-container {
    display: flex;
    flex-wrap: wrap;
}

.selected-option {
    background: mat-color($app-accent);
    padding: 0px 12px;
    border-radius: 20px;
    color: black;
    margin: 4px;
}