<mat-toolbar color="primary">
    <span class="app-name">SmartUni</span>
    <button mat-button color="accent" aria-label="Example icon-button with share icon">
        My Group
    </button>
    <button mat-button color="accent" aria-label="Example icon-button with heart icon">
        Timetable
    </button>
    <button mat-button color="accent" aria-label="Example icon-button with heart icon">
        Courses
    </button>
    <button mat-button color="accent" aria-label="Example icon-button with heart icon">
        Notes
    </button>
    <button mat-button color="accent" aria-label="Example icon-button with heart icon" (click)="SignOut()">
        Sign out
    </button>
</mat-toolbar>