<h2 mat-dialog-title>Create new group</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newGroupForm">
    <mat-form-field appearance="fill" >
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of [1, 2, 3, 4, 5, 6]" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input input-field ">
      <mat-label>Group name</mat-label>
      <input type="text" matInput formControlName="name" >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial mat-raised-button color="accent" (click)="createGroup()">Create</button>
</mat-dialog-actions>