/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-info {
    background: #1cbb03;
    color: rgb(255 255 255);
    span {
        color: white !important;
        font-size: 14px !important;
    }
}

.snackbar-error {
    background: red;
    color: rgb(255 255 255);
    color: rgb(255 255 255) !important;
    font-size: 16px !important;
}